In [10]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt

In [11]:
may_2020 = "Resources/JC-202005-citibike-tripdata.csv"
jun_2020 = "Resources/JC-202006-citibike-tripdata.csv"
jul_2020 = "Resources/JC-202007-citibike-tripdata.csv"
aug_2020 = "Resources/JC-202008-citibike-tripdata.csv"

In [12]:
may_2020_df = pd.read_csv(may_2020)
jun_2020_df = pd.read_csv(jun_2020)
jul_2020_df = pd.read_csv(jul_2020)
aug_2020_df = pd.read_csv(aug_2020)
aug_2020_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,561,00:16.6,09:38.6,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42303,Customer,1994,2
1,236,00:46.4,04:42.9,3186,Grove St PATH,40.719586,-74.043117,3270,Jersey & 6th St,40.725289,-74.045572,44989,Subscriber,1996,1
2,384,02:38.9,09:03.8,3186,Grove St PATH,40.719586,-74.043117,3203,Hamilton Park,40.727596,-74.044247,41696,Subscriber,1984,2
3,1302,03:27.0,25:09.2,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42310,Customer,1993,1
4,5561,03:57.5,36:38.5,3185,City Hall,40.717733,-74.043845,3185,City Hall,40.717733,-74.043845,42346,Customer,1995,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43262,162,43:15.9,45:58.5,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
43263,400,46:19.9,53:00.4,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
43264,288,47:16.9,52:05.6,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
43265,199,50:37.3,53:56.9,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
43266,333,55:30.8,01:04.4,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2

In [13]:
combined_CitiBike_df = pd.merge(may_2020_df, jun_2020_df, how='outer')
combined_CitiBike_df2 = pd.merge(combined_CitiBike_df, jun_2020_df, how='outer')
combined_CitiBike_df3 = pd.merge(combined_CitiBike_df2, jul_2020_df, how='outer')
combined_CitiBike_df3 = pd.merge(combined_CitiBike_df3, aug_2020_df, how='outer')

combined_CitiBike_df3.dtypes

tripduration                 int64
starttime                   object
stoptime                    object
start station id             int64
start station name          object
start station latitude     float64
start station longitude    float64
end station id               int64
end station name            object
end station latitude       float64
end station longitude      float64
bikeid                       int64
usertype                    object
birth year                   int64
gender                       int64
dtype: object

In [14]:
SummerCitiBank2020 = combined_CitiBike_df3["starttime"].str.split(" ", n = 1, expand = True) 
# SummerCitiBank2020_2 = combined_CitiBike_df3["stoptime"].str.split(" ", n = 1, expand = True)

In [15]:
combined_CitiBike_df3["start date"]= SummerCitiBank2020[0] 
combined_CitiBike_df3["actual start time"]= SummerCitiBank2020[1] 
# combined_CitiBike_df3["stop date"]= SummerCitiBank2020_2[0] 
# combined_CitiBike_df3["sto time"]= SummerCitiBank2020_2[1]

KeyError: 1

In [7]:
# combined_CitiBike_df3.drop(columns =["starttime"], inplace = True) 
# combined_CitiBike_df3.drop(columns =["stoptime"], inplace = True)

In [8]:
combined_CitiBike_df3

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,349,09:45.6,15:35.3,3195,Sip Ave,40.730897,-74.063913,3280,Astor Place,40.719282,-74.071262,42581,Customer,1969,0
1,138,11:22.5,13:41.2,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,3639,Harborside,40.719252,-74.034234,42105,Subscriber,1949,1
2,229,31:29.5,35:19.2,3483,Montgomery St,40.719420,-74.050990,3186,Grove St PATH,40.719586,-74.043117,42320,Customer,1984,1
3,261,51:39.4,56:00.9,3278,Monmouth and 6th,40.725685,-74.048790,3186,Grove St PATH,40.719586,-74.043117,42170,Subscriber,1974,2
4,168,06:32.0,09:20.1,3194,McGinley Square,40.725340,-74.067622,3195,Sip Ave,40.730897,-74.063913,42352,Subscriber,1966,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143940,162,43:15.9,45:58.5,3186,Grove St PATH,40.719586,-74.043117,3279,Dixon Mills,40.721630,-74.049968,44787,Subscriber,1977,1
143941,400,46:19.9,53:00.4,3481,York St,40.716490,-74.041050,3187,Warren St,40.721124,-74.038051,19153,Subscriber,1986,1
143942,288,47:16.9,52:05.6,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,42434,Subscriber,1960,1
143943,199,50:37.3,53:56.9,3195,Sip Ave,40.730897,-74.063913,3194,McGinley Square,40.725340,-74.067622,44226,Subscriber,1994,1
143944,333,55:30.8,01:04.4,3211,Newark Ave,40.721525,-74.046305,3270,Jersey & 6th St,40.725289,-74.045572,42437,Subscriber,1984,2

In [9]:
combined_CitiBike_df3.to_csv('summer_citibike_2020.csv', index=False)